.venv
.git
.gitignore
.env
.env.example
.envrc
db.sqlite3
db.sqlite3.bak
data
media
logs
__pycache__
*.pyc
.eggs
*.egg-info
.idea
.vscode
Dockerfile
docker-compose.yml
.dockerignore
node_modules
dist
build
