SQL_ENGINE=django.db.backends.postgresql
POSTGRES_NAME=postgres
POSTGRES_DB=sortimg
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pass_for_db
SQL_HOST=db
SQL_PORT=5432
SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DJANGO_ALLOWED_HOSTS=localhost
DEBUG=True

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@gmail.com
DJANGO_SUPERUSER_PASSWORD=admin
