{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="m-3">
        <input id="search-input"
               type="text"
               placeholder="Search"
               class="form-control"
               autofocus>
    </div>
    <div class="row mx-auto my-2">
        {% for project in object_list %}
            <div class="col card-box mx-auto">
                <div class="card m-1" style="width: 18rem;height: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title my-1 text-center">{{ project.name }}</h5>
                        <h6 class="card-subtitle my-1 text-muted">{{ project.desc }}</h6>
                        <figure class="figure">
                            <img src="{% url 'sortIT:show_img' 251 %}"
                                 alt=""
                                 class="img-fluid image">
                        </figure>
                        <span class="d-grid mx-auto my-3 position-absolute bottom-0 start-50 translate-middle-x">
                            <a href="{% url 'sortIT:choose_img_set' project.id %}"
                               class="btn btn-primary btn-large">Select</a>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <style>.image { max-width: 30px; max-height: 30px; }</style>
    <script>
function filterCards() {
  let input = document.getElementById("search-input").value;
  input = input.toLowerCase();

  let cards = document.getElementsByClassName("card-box");

  for (let i = 0; i < cards.length; i++) {
    let cardText = cards[i].innerText;

    cardText = cardText.toLowerCase();

    if (cardText.includes(input)) {
      cards[i].style.display = "";
    } else {
      cards[i].style.display = "none";
    }
  }
}

const searchInput = document.getElementById("search-input");
searchInput.addEventListener("input", filterCards);

    </script>
{% endblock %}
